@font-face {
    font-family: 'Poiret One', cursive;
    src: url(fonts/PoiretOne-Regular.ttf);
 }



body{
	background-color: #1C1C1C;
	margin: 0;
	font-family: 'Poiret One', cursive;
	
}
header{
	background-color: #008B8B;
	text-align: center;
	padding: 15px;
		
}
		header .title{
			    color: #BDBDBD;
				/*font-family: 'Poiret One', cursive;*/
			}

footer{
	background-color: #008B8B;
/*	position: absolute;
	bottom: 0;*/
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
    footer{
    	color: white;
    	/*font-family: 'Poiret One', cursive;*/
    }
   


section{
	background-color: #008B8B;
	text-align: center;
	padding: 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	border-radius :25px;

}
		section .content{
				color: white;
				/*font-family: 'Poiret One', cursive;*/
		}
		section .title{
				color: #BDBDBD;
				/*font-family: 'Poiret One', cursive;*/
		}

.profile_picture{
	width: 125px;
	height: 125px;
	border-radius: 50%;
}

h1:link, h1:visited, h1:active {
	text-decoration: none;
	}
h1:hover {text-decoration: underline;  
	color:#18FFFF; 
/*	font-size:150%; */
	}